src/grammer.dtd

<?xml version="1.0" encoding="UTF-8" ?>

        <!ELEMENT office (employee+)>
        <!ELEMENT employee (name, salary)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT salary (#PCDATA)>
        <!ATTLIST employee eid ID #REQUIRED>
        <!ATTLIST employee lang (Java|Python|ASP.NET) "Java">


